@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: #fdeeb9;
  --red: #d44a3d;
  --blue: #64c6e5;
  --outer-bg: #ffe18d;
}

body {
  background-color: var(--outer-bg);
  min-height: 100vh;
  margin: 0;
}

.font-baby-doll {
  font-family: "Baby Doll", sans-serif;
}
